@import 'menu_nav.css';

.post_container {
    position: sticky;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);
    border-radius: calc(18px / var(--width-divisor));
    -moz-border-radius: calc(18px / var(--width-divisor));
    -webkit-border-radius: calc(18px / var(--width-divisor));
    width: calc(640px + 100px);
    height: calc(480px + 100px);
    align-self: center;
    justify-self: flex-end;
}

.stream {
    border-radius: calc(18px / var(--width-divisor));
    -moz-border-radius: calc(18px / var(--width-divisor));
    -webkit-border-radius: calc(18px / var(--width-divisor));
}

.output {
    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);

    border-radius: calc(18px / var(--width-divisor));
    -moz-border-radius: calc(18px / var(--width-divisor));
    -webkit-border-radius: calc(18px / var(--width-divisor));
    height: calc(120px / var(--height-divisor));
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.label {
    font-family: var(--font);
    font-size: calc(40px / var(--height-divisor));
    color: #21697c;
    color: rgb(33, 105, 124);
}

/*------------------------------------------------------------------------------------**/
.switch {
    position: relative;
    width: calc(135px / var(--height-divisor));
    height: calc(50px / var(--height-divisor));
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #666666;
    background: rgba(102, 102, 102, 1);
    position: absolute;
    width: calc(135px / var(--height-divisor));
    height: calc(50px / var(--height-divisor));
    border-radius: calc(12px / var(--width-divisor));
    -moz-border-radius: calc(12px / var(--width-divisor));
    -webkit-border-radius: calc(12px / var(--width-divisor));
}

.slider:before {
    position: absolute;
    content: '';

    top: calc(7px / var(--height-divisor));
    left: calc(5px / var(--height-divisor));

    transition: 2s;

    background: #ffa18a;
    background: rgba(255, 161, 138, 1);
    position: absolute;
    width: calc(45px / var(--height-divisor));
    height: calc(35px / var(--height-divisor));
    border-radius: calc(9px / var(--height-divisor));
    -moz-border-radius: calc(9px / var(--width-divisor));
    -webkit-border-radius: calc(9px / var(--width-divisor));
    z-index: 2;
}

input:checked + .slider {
    background: #666666;
    background: rgba(102, 102, 102, 1);
}

input:disabled + .slider {
    opacity: 0.6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(80px / var(--height-divisor)));
    -ms-transform: translateX(calc(80px / var(--height-divisor)));

    transform: translateX(calc(80px / var(--height-divisor)));

    transition-duration: 2s;
    background: #c1ffbf;
    background: rgba(193, 255, 191, 1);
    z-index: 2;
}

.slider:after {
    content: 'OFF';

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;

    font-family: var(--font);
    font-size: calc(20px / var(--height-divisor));
    color: #f2f2f2;
    color: rgb(242, 242, 242);
}

input:checked + .slider:after {
    content: 'ON';
    left: 20%;
}
