@import "menu_nav.css";

.post_container{
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu_button{
    background: #F2F2F2;
    background: rgba(242, 242, 242, 1);
    
    width: calc(370px / var(--width-divisor));
    height: calc(170px / var(--height-divisor));
    
    border-radius: calc(18px / var(--width-divisor));
    -moz-border-radius: calc(18px / var(--width-divisor));
    -webkit-border-radius: calc(18px / var(--width-divisor));
    
    margin: calc(5px / var(--width-divisor));
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--font);
    font-size:  calc(40px / var(--height-divisor));
    
    color: #21697C;
    color: rgb(33, 105, 124);
    
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.menu_button:active{
    opacity: 0.4;
}

#test_process{
    background-color: rgb(255, 204, 204);
}