@import "menu_nav.css";

.post_container{
    width: 100%;
    height: 90%;
}

a.modebar-btn{
    font-size: 40px !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

#point_cloud{
    height: 100%;
    width: 100%;
}