.title {
    margin-top: calc(200px / var(--height-divisor));
    text-align: center;

    max-width: calc(1150px / var(--width-divisor));

    font-family: var(--font-light);
    font-size: calc(120px / var(--height-divisor));

    color: #21697c;
    color: rgb(33, 105, 124);
}

#connect.title {
    margin-top: calc(25px / var(--height-divisor));
    font-size: calc(25px / var(--height-divisor));
    font-family: var(--font);
}

#camera.title {
    margin-top: calc(10px / var(--height-divisor));
    font-size: calc(25px / var(--height-divisor));
    font-family: var(--font);
}

.button_home {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    font-family: var(--font);
    font-size: calc(25px / var(--height-divisor));

    color: #e6e6e6;
    color: rgb(230, 230, 230);
    background: #21697c;
    background: rgba(33, 105, 124, 1);

    width: calc(260px / var(--width-divisor));
    height: calc(80px / var(--height-divisor));
    border-radius: calc(30px / var(--width-divisor));
    -moz-border-radius: calc(30px / var(--width-divisor));
    -webkit-border-radius: calc(30px / var(--width-divisor));
}

.weather {
    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);

    width: calc(260px / var(--width-divisor));
    height: calc(300px / var(--height-divisor));
    border-radius: calc(30px / var(--width-divisor));
    -moz-border-radius: calc(30px / var(--width-divisor));
    -webkit-border-radius: calc(30px / var(--width-divisor));

    position: absolute;

    bottom: calc(5px / var(--height-divisor));
    left: 0;

    display: grid;
    grid-template-rows: 30% 40% 15% 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-light);
}

#temp {
    font-size: calc(55px / var(--height-divisor));
    color: rgb(33, 105, 124);
}

#weat {
    font-size: calc(30px / var(--height-divisor));
    color: rgb(33, 105, 124);
}

.hum {
    font-size: calc(20px / var(--height-divisor));
    color: rgb(33, 105, 124);
}

#start_button.button_home {
    bottom: calc(5px / var(--height-divisor));
    right: 0px;
}

#connect_button.button_home {
    bottom: calc(90px / var(--height-divisor));
    right: 0px;
}

#disconnect_button.button_home {
    bottom: calc(175px / var(--height-divisor));
    right: 0px;
}

#reload.button_home {
    width: calc(160px / var(--width-divisor));
    bottom: calc(5px / var(--height-divisor));
    left: calc(265px / var(--width-divisor));
}

#keep.button_home {
    width: calc(160px / var(--width-divisor));
    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);
    height: calc(150px / var(--height-divisor));
    bottom: calc(90px / var(--height-divisor));
    left: calc(265px / var(--width-divisor));
    color: rgba(33, 105, 124, 1);
}

.notes {
    width: calc(80px / var(--width-divisor));
    height: calc(80px / var(--height-divisor));
}

#admin_menu.button_home {
    bottom: calc(5px / var(--height-divisor));
    right: calc(280px / var(--width-divisor));
}

.button_home:active,
#keep:active {
    opacity: 0.4;
}
