.loading_background{
    z-index: 10;    
    background-color : #F2F2F2;
    background-color : rgba(242, 242, 242, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1280px / var(--width-divisor));
    height: calc(960px / var(--height-divisor));
}

.wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: calc(600px / var(--height-divisor));
    left: 50%
}

.el{
    position: absolute;
    opacity: 1;
    width: calc(4px / var(--height-divisor));
    height: calc(120px / var(--height-divisor));
    transform-origin: 50% 100%;
    background: white;
}

.loading_label{
    position: absolute;
    font-family : var(--font-light);
    font-size : calc(115px / var(--height-divisor));
    color : #21697C;
    color : rgb(33, 105, 124);
    left: 50%;
    transform: translate(-50%);
    top: calc(300px / var(--height-divisor));
}