@import "menu_nav.css";

.post_container{
    position: sticky;
    width: 100%;
    height: 90%;

    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.searched_patients{
    margin: 5px;
    background : #F2F2F2;
    background : rgba(242, 242, 242, 1);

    position : sticky ;
    display: grid;
    align-items:center;

    width : calc(820px / var(--width-divisor));
    height : calc(70px / var(--height-divisor));
    border-radius : calc(10px / var(--width-divisor));
    -moz-border-radius : calc(10px / var(--width-divisor));
    -webkit-border-radius : calc(10px / var(--width-divisor));
}

.find_logo{
    width : calc(40px / var(--width-divisor));
    height : calc(30px / var(--height-divisor));
}

.search_button{
    display: flex;
    align-items:center;
    justify-content: center;
    width : calc(50px / var(--width-divisor));
    height : calc(50px / var(--height-divisor));

    margin-left: calc(20px / var(--width-divisor));

    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background : #F2F2F2;
    background : rgba(242, 242, 242, 1);
}

.output{
    color : #21697C;
    color : rgba(33, 105, 124, 1);
    
    position: absolute;
    justify-self: center;

    width: 80%;
    height: 100%;

    background : #F2F2F2;
    background : rgba(242, 242, 242, 1);

    font-family : var(--font);
    font-size : calc(30px / var(--height-divisor)); 

    display: flex;
    align-items: center;
}

#warning_patient{
    color : #21697C;
    color : rgba(33, 105, 124, 1);
    font-family : var(--font);
    font-size : calc(40px / var(--height-divisor)); 
}

.search_button:active{
    opacity: 0.4;
}

.cls-11{
    fill:none;
    stroke:#21697c;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: calc(2.25px / var(--width-divisor));
}