@import 'menu_nav.css';

::placeholder {
    opacity: 0.6;
    color: #21697c;
    color: rgba(33, 105, 124, 1);
}

.post_container {
    position: sticky;
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.find_patient {
    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);

    position: sticky;
    display: grid;
    align-items: center;

    width: calc(820px / var(--width-divisor));
    height: calc(70px / var(--height-divisor));
    border-radius: calc(10px / var(--width-divisor));
    -moz-border-radius: calc(10px / var(--width-divisor));
    -webkit-border-radius: calc(10px / var(--width-divisor));
}

.find_logo {
    width: calc(40px / var(--width-divisor));
    height: calc(30px / var(--height-divisor));
}

.submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50px / var(--width-divisor));
    height: calc(50px / var(--height-divisor));

    margin-left: calc(20px / var(--width-divisor));

    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);
}

.input {
    color: #21697c;
    color: rgba(33, 105, 124, 1);

    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px solid #eee;

    position: absolute;
    align-items: center;
    justify-self: center;

    width: 80%;
    height: 100%;

    background: #f2f2f2;
    background: rgba(242, 242, 242, 1);
    font-family: var(--font);
    font-size: calc(30px / var(--height-divisor));
}

/* SET UP KEYBOARD*/
.keyboard {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;

    position: absolute;
    align-self: flex-end;
    bottom: 0px;
    width: calc(70px / var(--width-divisor));
    height: calc(45px / var(--height-divisor));
}

.keyboard_logo {
    width: 100%;
    height: 100%;
}

#search.submit_button:active,
.keyboard:active {
    opacity: 0.4;
}

/* -------- FIND LOGO --------- */
.cls-11 {
    fill: none;
    stroke: #21697c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: calc(2.25px / var(--width-divisor));
}

/* -------- KEYBOARD LOGO --------- */
.cls-7 {
    fill: #21697c;
}

.cls-8 {
    fill: none;
    stroke: #21697c;
    stroke-miterlimit: 10;
    stroke-width: 2.5px;
}
