::placeholder{
    opacity: 0.6;
    color: #21697C;
    color: rgba(33, 105, 124, 1);
}

.title{
    margin-top: calc(200px / var(--height-divisor));
    text-align: center;
    
    max-width: calc(1150px / var(--width-divisor));
    
    font-family: var(--font-light);
    font-size: calc(100px / var(--height-divisor));

    color: #21697C;
    color: rgb(33, 105, 124);
}

.button_con{
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.ip{
    background: #F2F2F2;
    background: rgba(242, 242, 242, 1);
    
    position: absolute;
    display: flex;
    align-items: center;

    top: calc(400px / var(--height-divisor));
    left: calc(50% - (calc(325px / var(--width-divisor))));

    width: calc(650px / var(--width-divisor));
    height: calc(60px / var(--height-divisor));
    
    border-radius: calc(27px / var(--width-divisor));
    -moz-border-radius: calc(27px / var(--width-divisor));
    -webkit-border-radius: calc(27px / var(--width-divisor));
}

#connect_button.button_con{
    font-family: var(--font);
    font-size: calc(25px / var(--height-divisor));

    color: #E6E6E6;
    color: rgb(230, 230, 230);
    
    background: #21697C;
    background: rgba(33, 105, 124, 1);
    
    position: absolute ;
    
    right: calc(250px / var(--width-divisor));
    top: calc(470px / var(--height-divisor));
    
    width: calc(180px / var(--width-divisor));
    height: calc(60px / var(--height-divisor));
    
    border-radius: calc(27px / var(--width-divisor));
    -moz-border-radius: calc(27px / var(--width-divisor));;
    -webkit-border-radius: calc(27px / var(--width-divisor));
}

#connect_button:active{
    opacity: 0.4;
}

.ip_logo{
    position: absolute;
    width: calc(25px / var(--width-divisor));
    height: calc(35px / var(--height-divisor));
    left: calc(20px / var(--width-divisor));
}

.ip_input{
    font-family: var(--font);
    font-size: calc(25px / var(--height-divisor));
    
    color: #21697C;
    color: rgba(33, 105, 124, 1);
    
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px solid #eee;
    
    align-items: center;
    display: flex;
    
    background: #F2F2F2;
    background: rgba(242, 242, 242, 1);
    
    position: absolute;
    
    width: calc(550px / var(--width-divisor));
    height: calc(60px / var(--height-divisor));
    left: calc(50px / var(--width-divisor));
}

.keyboard_logo{
    position: absolute;
    width: calc(70px / var(--width-divisor));
    height: calc(45px / var(--height-divisor));
    right: calc(0.5px / var(--width-divisor));
    bottom: calc(5px / var(--height-divisor));
}

.cls-1{
    fill:none;
    stroke:#21697c;
    stroke-miterlimit:10;
    stroke-width:1.48px;
}

.cls-7{
    fill:#21697c;
}

.cls-8{
    fill:none;
    stroke:#21697c;
    stroke-miterlimit:10;
    stroke-width:2.5px;
}

