<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/documentation.css') }}">

{% extends "layout.html" %}
{% block content %}

	<!-- NAVIGATION MENU -->
	<div class="info_panel">
		
		<!-- back button -->
		<button class="back_button"onclick="window.location.href='{{ url_for('app.documentation') }}';">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.18 52.23" class="back_logo">
			<defs><style>.cls-1{fill:none;stroke:#21697c;stroke-miterlimit:10;stroke-width:2.02px;}</style></defs>
			<g id="Vrstva_2" data-name="Vrstva 2"><g id="Layer_1" data-name="Layer 1"><polygon class="cls-1" points="33.17 26.11 33.17 50.18 17.42 38.15 1.67 26.11 17.42 14.08 33.17 2.04 33.17 26.11"/></g></g>
		</svg>
		</button>

		<!-- title -->
		<div class="title">Documentation</div>

		<!-- forward button -->
		<button class="forward_button"onclick="window.location.href='{{ url_for('auth.documentation_cam') }}';">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.18 52.23" class="forward_logo">
			<defs><style>.cls-11{fill:none;stroke:#21697c;stroke-miterlimit:10;stroke-width:2.02px;}</style></defs>
			<g id="Vrstva_2" data-name="Vrstva 2"><g id="Layer_1" data-name="Layer 1"><polygon class="cls-11" points="1.01 26.11 1.01 2.04 16.76 14.08 32.52 26.11 16.76 38.15 1.01 50.18 1.01 26.11"/></g></g>
		</svg>
		</button>

	</div>

	<iframe class="pdf" src="https://drive.google.com/file/d/1boT4ykteCbNpZwXyt_Pdf5rrU3mn1IbZ/preview" allow="autoplay" frameBorder="0" scrolling="auto"></iframe>
{% endblock %}

</html>