<link rel="stylesheet" href="{{ url_for('static', filename='css/con_pan.css') }}">

{% extends "layout.html" %}
{% block content %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.min.js" integrity="sha512-x2Owc9WayRcRj80Znkau58shVfXN2OIX+gQAlrx6KPugZBKrIC6AwgEWQQCI06p2Q8RB4ilxD+y+1BdNd+1fQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script type="module" src="{{ url_for('static', filename = 'js/modules/ROS_connect.js') }}"></script>

	<script type="module" src="{{ url_for('static', filename = 'js/cam_face_scan.js') }}"></script>

	<!-- NAVIGATION MENU -->
	<div class="info_panel">

		<!-- back button -->
		<button class="back_button"onclick="window.location.href='{{ url_for( 'app.con_pan') }}';">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.18 52.23" class="back_logo">
			<defs><style>.cls-1{fill:none;stroke:#21697c;stroke-miterlimit:10;stroke-width:2.02px;}</style></defs>
			<g id="Vrstva_2" data-name="Vrstva 2"><g id="Layer_1" data-name="Layer 1"><polygon class="cls-1" points="33.17 26.11 33.17 50.18 17.42 38.15 1.67 26.11 17.42 14.08 33.17 2.04 33.17 26.11"/></g></g>
			</svg>
		</button>

		<!-- title -->
		<div class="title">Face position</div>
		
	</div>

	<!-- MAIN PART -->
	<div class="post_container">
		
		<!-- next button -->
		<div class="column">
			<button id="scan" class="menu_button">Scan</button>
			<button id="test" class="menu_button">Test</button>
		</div>

	</div>

{% endblock %}